/Vendedor/nbproject/private/
/Vendedor/nbproject/private/
/Vendedor/build/
/Vendedor/nbbuild/
/Vendedor/dist/
/Vendedor/nbdist/
/Vendedor/.nb-gradle/
/BancoCliente/nbproject/private/
/BancoCliente/build/
/BancoCliente/nbbuild/
/BancoCliente/dist/
/BancoCliente/nbdist/
/BancoCliente/.nb-gradle/
/BancoVendedor/nbproject/private/
/BancoVendedor/build/
/BancoVendedor/nbbuild/
/BancoVendedor/dist/
/BancoVendedor/nbdist/
/BancoVendedor/.nb-gradle/